.appli {
  font-family: helvetica;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 66%;
  height: 200px;
  margin-left: 100px;
  margin-top: 10px;
}

.appli img {
  width: 150px;
}
.appli h3 {
  flex-grow: 1;
  padding-left: 15px;
  font-size: 16;
}

.appli p{
  font-size: 13;
  text-align:center;
  margin-right: 31px;
  margin-left:26px;
}

.appli h2{
  font-size: 20;
  font-size: 17;
  margin-right:50px;
  margin-left:10px;
}

.appli div{
  align-items: center;
  text-align:center;
  margin-right: 50px;
  margin-left:5px;
}
