.banner {
  background-color: whitesmoke;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom:10px;
  border-radius: 10px;
  width:100%;
}

.searchbar{
  position:relative;
  text-align: right;
  height:auto;
  margin-left: 20}
.formulaire{
  display:inline-block;
 }
.formulaire .champ{
  width:300px;
  height:35px;
  border-radius:5px;
}
.formulaire .bouton{
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 5px;
}

.bouton{
  background-color: whitesmoke;
  border-style:none;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.banner strong  {
  font-family: helvetica;
  font-size: 15;
}
.banner a {
text-decoration: none;
}

.bouton:hover{
background:rgb(118,204,118);
color:white;
}

.bouton {
  display: flex;
  flex-wrap: wrap;
}
.bouton {
  flex-basis: 100%;
  flex-grow: 20;
  margin-left: 10
}

#btn {
  position: absolute;
  left:95%;
  bottom:1;
}
