.banner {
  background-color: whitesmoke;
  font-family: helvetica;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom:10px;
  border-radius: 10px;
  width:100%;
}

.searchbar{
  position:relative;
  text-align: right;
  height:auto;
}
.formulaire{
  display:inline-block;
 }
.formulaire .champ{
  width:300px;
  height:35px;
  border-radius:5px;
}
.formulaire .bouton{
  background-image: url(images/searchbar_button.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 5px;
}

.banner button{
  background-color: whitesmoke;
  border-style:none;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.banner button:hover{
background:rgb(118,204,118);
color:white;
}

#prod #appli #contact {
  display: flex;
  flex-wrap: wrap;
}
#prod #appli #contact{
  flex-basis: 100%;
  flex-grow: 20;
}


