.container{
  text-align: center;
  background-color: white;
  border:5px;
  position:absolute;
  width: 59%;
  height: 62%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.7;
  border-radius: 10px;
  padding: 40;
}


.container h1{
  font-family: helvetica;
  font-size:25;
  justify-content: center;
}

.container h1{
  display:flex;
  flex-wrap: wrap;
}
.container h1 {
  flex-grow:1;
  text-align: left;
  margin-left:50px;
}

.container p{
  font-family: helvetica;
  font-size:20;
}
