.footer{
  text-align: center;
  background-color: whitesmoke;
  margin-top: 10px;
  border-radius: 10px;
  position:relative;
  font-family: helvetica;
  font-size:30;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width:107%;
  height: auto;
}

.footer p{
  font-family: helvetica;
  font-size:16;
  margin-bottom: 0;
  margin-left: 15;
}

.b1 .b2 .b3 {
  display: flex;
  flex-wrap: wrap;
}
.b .b2 .b3 {
  flex-basis: 100%;
  flex-grow: 1;
}

.footer ul{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer div{
  margin-right: 50px;
}

