.footer{
  text-align: center;
  background-color: whitesmoke;
  margin-top: 10px;
  border-radius: 10px;
  position:absolute;
  font-family: helvetica;
  font-size:30;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 30;
  width:100%;
}

.footer p{
  font-family: helvetica;
  font-size:15;
  margin: none;
}

.b1 .b2 .b3 {
  display: flex;
  flex-wrap: wrap;
}
.b .b2 .b3 {
  flex-basis: 100%;
  flex-grow: 1;
}

#b2{
display:block;
}


